body{
    display: flex;
    justify-content: center;
    background-image: url(./Imagenes/nature-scene-with-igloo-ground_1308-29732.jpg);
    background-size: contain;
}

canvas{

    background-color: #68d8d6;
}